/* Reggae One Font */
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.title-text {
  font-family: "Reggae One", Helvetica, Arial, sans-serif;
}

.link-style {
  text-decoration: none;
  color: black;
}

/* .site-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Helvetica";
} */

.header-style {
  padding: 5;
  background-color: rgb(236, 220, 186);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 20;
}

.logo-style {
  display: flex;
  align-items: center;
  width: 70%;
}

.logo-image {
  height: 10%;
}

.options {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.order-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.order-buttons-button {
  width: 100px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(77, 31, 31);
  color: white;
  font-size: 14px;
  padding: 2px;
}

.footer {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  font-size: 15;
  padding: 40;
}
